.sideNav {
    position: fixed;
    background-color: #00a9a5;
    height: 100vh;
    width: 7.3vw;
    transition: 0.3s;
    padding-left: 2.4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
  }

  .Links {
    text-decoration: none;
    color: white;
  }

  .sideNav > ul {
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
  }

  .sideNav:hover {
    height: 100vh;
    width: 20.9vw;
  }

  .list-item {
    display: flex;
    align-items: center;
    gap: 4rem;
  }

  .icon {
    height: 30px;
    width: 30px;
  }

  .list-item > li {
    list-style: none;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .sideNav:hover .list-item > li {
    opacity: 1;
  }