.profile_info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.profile_info p {
    margin: 0;
}
.profile_info p span {
    font-weight: 700;
}

.profile_info_details {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: 100%;
    padding-left: 1rem;
}

.profile_inputs {
    display: flex;
    flex-direction: column;
    gap: 1.5rem 1rem;
    width: 100%;
}

.box_location {
    display: flex;
    justify-content: center;
    align-items: center;
}

.location {
    position: absolute;
    top: 550px;
    left: 1405px;
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 2px;
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.location > svg {
    height: 25px;
    width: 25px;
    cursor: pointer;
}