.product___overview___parent {
  width: 100%;
  height: auto;
  border-radius: 24px;
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.all_product_container {
  display: flex;
  width: 100%;
}

.MuiDataGrid-columnHeaders {
  background-color: #f7f7f8;
  border-radius: 1rem;
}

.custom-header-class {
  color: #6e6e6e;
}

.body_cards_container {
  height: auto;
  width: 100%;
  margin-left: 7.4vw;
  padding: 1.5rem;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.body_cards_container > h1 {
  font-size: 3em;
  text-align: start;
  margin-bottom: 2rem;
}

.nav-push-effect {
  transition: 0.3s ease;
}

.sideNav:hover + .body_cards_container {
  margin-left: 20.9vw;
}

.one___product {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
}

.___title {
  color: #030303;
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 600;
  line-height: 32px;
}
.title___filterBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  font-size: 2rem;
}

.category___select {
  top: 130px;
  left: 1258px;
  width: 120px;
  height: 36px;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 24px;
  box-shadow: 0px 2px 8px rgba(64, 60, 67, 0.24);
  background-color: #ffffff;
  color: #919191;
  font-size: 13px;
  font-family: "Roboto";
  font-weight: 600;
  line-height: 17px;
  outline: none;
}

.product___name {
  color: #030303;
  font-size: 15px;
  font-family: "Roboto";
  font-weight: 600;
  line-height: 24px;
}
.product___views {
  top: 406px;
  left: 542px;
  width: 3.3rem;
  height: 2rem;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 24px;
  box-shadow: 0px 2px 4px rgba(3, 3, 3, 0.1);
  background-color: #ffffff;
  color: #6e6e6e;
  font-size: 15px;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 20px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image___star {
  font-size: 20px;
  top: 436px;
  left: 362px;
  width: 20px;
  height: 20px;
  color: #1a1a1a;
}
.rating___star___evaluation {
  color: #030303;
  font-size: 15px;
  font-family: "Roboto";
  font-weight: 600;
  line-height: 24px;
  margin: 0;
}
.image___container {
  width: 236px;
  height: 200px;
  border-radius: 24px;
  background-color: red;
}
.product___info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  width: inherit;
}

.product___info > p {
  margin: 0;
  font-size: 1rem;
}

.product___cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 0.5rem;
  padding-left: 8rem;
  gap: 2rem 4rem;
  width: 100%;
}
.container___star___rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
}
